*.log
#wp/wp-config.php
wp/wp-content/advanced-cache.php
wp/wp-content/backup-db/
wp/wp-content/backups/
wp/wp-content/blogs.dir/
wp/wp-content/cache/
wp/wp-content/upgrade/
wp/wp-content/uploads/
wp/wp-content/wp-cache-config.php
wp/wp-content/plugins/hello.php
wp/wp-admin
wp/wp-includes

*composer.lock
wp/index.php
wp/wp-activate.php
wp/wp-blog-header.php
wp/wp-comments-post.php
wp/wp-config-sample.php
wp/wp-cron.php
wp/wp-links-opml.php
wp/wp-load.php
wp/wp-login.php
wp/wp-mail.php
wp/wp-content/themes/twentyfifteen
wp/wp-content/themes/twentysixteen
wp/wp-content/themes/twentyseventeen
wp/wp-content/themes/index.php
wp/wp-content/index.php
wp/wp-content/plugins/index.php
wp/wp-content/plugins/akismet
wp/wp-settings.php
wp/wp-signup.php
wp/wp-trackback.php
wp/xmlrpc.php
wp/composer.json
wp/.htaccess
wp/license.txt
wp/readme.html
wp/sitemap.xml
wp/sitemap.xml.gz


/vendor/
